*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: Ariel,Helvetica,sans-serif;
	line-height: 1.6em;
}
.container{
	width: 85%;
	margin: auto;
}
a{
	text-decoration: none;
}
.head span{
	font-weight: bold;
}
#navbar p{
	float: left;
}
#navbar li a{
	color: #fff;
}
#navbar li{
	display: inline;
	padding-right: 20px;
	font-size: 1em;
	list-style-type: none;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
}
#navbar ul{
	padding-left: 100px;
	float: right;
	margin-bottom: 0;
	padding-bottom: 0;
}
#navbar{
	padding-top: 40px;
	padding-bottom: 50px;
	border-bottom: 2px solid #ccc;
	color: white;
}
.head{
	font-family: Ariel,Helvetica,sans-serif;
	background: rgba(75, 75, 93, 0.85);
	color: #fff;
}
.head h1{
	margin-top: 150px;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 100px;
}
.head p{
	padding-top: 20px;
}
.head img{
	color: #6cc091;
}
section .container .block{
	float: left;
	text-align: center;
	width: 33.3%;
	box-sizing: border-box;
	margin-bottom: 90px;
}
section .container .block i{
	font-size: 2em;
	color: #6cc091;
	padding: 15px;
}
section .container .block:nth-of-type(2){
	border-right: 2px solid #D3D3D3;
	border-left: 2px solid #D3D3D3;
}
.button1{
	border: 3px solid #6cc091;
	border-radius: 30px;
	text-align: center;
	padding: 12px;
	display: inline-block;
	margin: auto;
	margin-bottom: 100px;
	float: none;
	color: #6cc091;
	margin-left: 510px;
	background: transparent;
}
.button1:hover{
	background: rgba(109, 192, 145, 0.2);
}
.box{
	float: left;
	text-align: center;
	width: 50%;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 100px;	
}
.box img{
	border-radius: 100%;
}
.seconds{
	background-color: #fff;
}
.seconds h2{
	color: #383838;
	padding-bottom: 15px;
	line-height: 1.6em;
}
.seconds p{
	color: #909090;
	padding-bottom: 20px;
}
.button{
	border: 3px solid #6cc091;
	border-radius: 30px;
	text-align: center;
	padding: 10px;
	display: inline-block;
	margin: auto;
	margin-bottom: 100px;
	float: none;
	color: #6cc091;
	background: transparent;
}
.button:hover{
	background: rgba(109, 192, 145, 0.2);
}
footer h3{
	text-align: center;
	margin-bottom: 50px;
}
label{
	display: block;
	padding-bottom: 18px;
}
input{
	width: 500px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
	border: #E0E0E0 1px solid;
	outline: none;
	height: 25px;
}
textarea{
	width: 100%;
	min-height: 150px;
	border-radius: 15px;
	border: #E0E0E0 1px solid;
	outline: none;
}
#name,#email{
	width: 50%;
	float: left;
}
#ending a{
	margin-left: 510px;
	margin-top: 25px;
	margin-bottom: 40px;
}
#foot{
	text-align: center;
	margin-bottom: -50px;
	display: block;
	font-size: x-small;
	color: #A0A0A0;
}
.button2{
	border: 3px solid #6cc091;
	border-radius: 30px;
	text-align: center;
	padding: 12px;
	display: inline-block;
	margin: auto;
	margin-bottom: 100px;
	float: none;
	color: #6cc091;
	margin-left: 510px;
	background: transparent;
}
.button2:hover{
	background: rgba(109, 192, 145, 0.2);
}
@media(max-width: 800px){
	body{
		overflow-x: hidden;
	}
	#navbar p,#navbar ul,.block,.box,#name,#email,#message,input,textarea{
		float: none;
		text-align: center;
		width: 100%;
		display: block;
	}
	#navbar ul{
		padding-left: 0;
		padding-top: 20px;
	}
	#navbar p{
		padding-bottom: 20px;
		border-bottom:2px solid #ccc;
	}
	#navbar{
		padding-bottom: 20px;
		border-bottom: none;
	}
	.container h1{
		line-height: 2em;
	}
	.button1{
		margin-left:150px;
	}
	.button2{
		text-align: center;
	}
}